@using MovieStore.Models.Movie
@model List<MovieSearchJsonView>

<table class="table">
    <thead>
        <tr>
            <th>Poster</th>
            <th>Title</th>
            <th>Synopsis</th>
        </tr>
    </thead>
    <tbody>
        @foreach (MovieSearchJsonView movie in Model)
        {
            <tr>
                <td style="width: 50%; float: left;">
                    <img src="@movie.Movie.poster_path.Replace("w500","w154")" class="detailImage" />
                </td>
                @if (movie.Movie.original_language != "en")
                {
                    <td><b>@(movie.Movie.title + " (" + movie.Movie.release_date.Split('-')[0] + ") " + movie.Movie.original_title)</b></td>
                }
                else
                {
                    <td><b>@(movie.Movie.title + " (" + movie.Movie.release_date.Split('-')[0] + ") " )</b></td>
                }

                <td>@movie.Movie.overview</td>
                <td>
                    @if (movie.YoutubeVideo != null)
                    {
                        <iframe type="text/html" width="640" height="385" src="@movie.YoutubeVideo.YoutubeLink" frameborder="0">
                        </iframe>
                    }
                    else
                    {
                        <b>No Trailer currently exists.</b>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>