@model MoviesSearchListJson


<h1>Search Results</h1>


@if (Model != null && Model.results.Count > 0)
{

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Synopsis</th>
                <th>More Info</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Result in Model.results)
            {
                @if (Result.release_date is null)
                    Result.release_date = "T.B.A.";
                <tr>
                    @if (Result.original_language != "en")
                    {
                        <td><b>@(Result.title + " (" + Result.release_date.Split('-')[0] + ") " + Result.original_title)</b></td>
                    }
                    else
                    {
                        <td><b>@(Result.title + " (" + Result.release_date.Split('-')[0] + ") " )</b></td>
}

                    <td>@Result.overview</td>
                    <td>@Html.ActionLink("Info", "MoviePrint", new { Result.id }, null)</td>
                </tr>
            }
        </tbody>
    </table>

    <a 
       asp-action="MovieSearch"
       asp-route-page="@(Model.page - 1)"
       asp-route-language="@(Model.language)"
       asp-route-searchString="@(Model.searchString)"
       asp-route-current_result="@Model.current_result"
       asp-route-page_number_language="@Model.page_number_language"
       class="btn btn-default">
       Previous

    </a>

    <a asp-action="MovieSearch"
       asp-route-page="@(Model.page + 1)"
       asp-route-language="@(Model.language)"
       asp-route-searchString="@(Model.searchString)"
       asp-route-current_result="@(Model.current_result  ) "
       asp-route-page_number_language="@Model.page_number_language"
       class="btn btn-default" >
       Next


    </a>
}
else
{
    <p><em>No results found.</em></p>

}